body {
  font-family: sans-serif;
  background-color: #D8B49E;
}

h1 {
  color: ;
  text-align: center;
  font-weight: lighter;
}

h2 {
  color: #215863;
  text-align: center;
  font-weight:bolder;
  font-style: italic;
}

h4 {
  color: #4E8883;
}
p {
  color: #6D4040;
}

p.contact {
  text-align: center;
}

ul {
  color: #4E8883;
  font-style: italic;
}

li.cabin {
  text-align: center;
}
